:root {
    --bckg-primary: #2C3E50;
    --bckg-teal: #1ABC9C;
    --bckg-secondary: #3A546D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: white;
}

/* UTILITY CLASSES */
.row {
    padding: 1rem 0;
}

.row > * {
    background-color: tomato;
    height: 2rem;
    margin-bottom: 1rem;
}

/* HEADER */
header {
    height: 3.5rem;
    background-color: var(--bckg-primary);
    color: white;
}

/* MAIN */
main > div:nth-child(odd) {
    background-color: var(--bckg-teal);
    color: white;
}

/* jumbo */
.row.jumbo{
    flex-direction: column;
}

.jumbo #img {
    height: 9rem;
}

/* portfolio */
.row.portfolio {
    flex-direction: column;
}

.row.portfolio .bckg {
    height: 15rem;
    border-radius: .5rem;
}

.row.portfolio > div:nth-child(3) {
    background-color: #BA4B63;
}

.row.portfolio > div:nth-child(4) {
    background-color: #1EA4B6;
}

.row.portfolio > div:nth-child(5) {
    background-color: #140F0F;
}

.row.portfolio > div:nth-child(6) {
    background-color: #1C83C1;
}

.row.portfolio > div:nth-child(7) {
    background-color: #0E38B5;
}

.row.portfolio > div:nth-child(8) {
    background-color: #CCB2A3;
}

/* about */
.row.about {
    flex-direction: column;
}

.row.about .col-7 {
    height: fit-content;
    font-size: 12px;
}

/* form */
.row.form {
    flex-direction: column;
}

.row.form .col-6 {
    height: 15rem;
}

/* FOOTER */
.row.contacts {
    background-color: var(--bckg-secondary);
    flex-direction: column;
}

.row.copyright {
    background-color: var(--bckg-primary);
    flex-direction: column;
}