:root {
    --bckg-primary: #2C3E50;
    --bckg-teal: #1ABC9C;
    --bckg-secondary: #3A546D;
}

.py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

header {
    background-color: var(--bckg-primary);
}

/* .container {
    background-color: brown;
} */

/* .row {
    background-color: burlywood;
    height: 100%;
} */

header .row > :first-child {
    background-color: chartreuse;
    height: 100%;
}

header .row > :last-child {
    background-color: crimson;
    height: 100%;
}

.jumbotron {
    background-color: var(--bckg-teal);
}

.cards [class*="col"] {
    /* height: 300px;
    background-color: brown; */
}

.card {
    height: 300px;
    background-color: brown;
}